# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# PostgreSQL / local data
*.sql
*.dump

# Logs
*.log

# OS files
.DS_Store
Thumbs.db